-- MySQL dump 10.16  Distrib 10.1.13-MariaDB, for Win32 (AMD64)
--
-- Host: localhost    Database: jobbri
-- ------------------------------------------------------
-- Server version	10.1.13-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `jo_account`
--

DROP TABLE IF EXISTS `jo_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_account` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_account`
--

LOCK TABLES `jo_account` WRITE;
/*!40000 ALTER TABLE `jo_account` DISABLE KEYS */;
INSERT INTO `jo_account` VALUES (1,'applicant'),(2,'recruiter'),(3,'recruiter'),(4,' recruiter'),(5,' recruiter'),(6,' recruiter'),(7,' recruiter');
/*!40000 ALTER TABLE `jo_account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_address`
--

DROP TABLE IF EXISTS `jo_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_address` (
  `address_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `city` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `state` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `state_abbr` char(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `zip_code` char(7) COLLATE utf8mb4_unicode_ci NOT NULL,
  `address_set` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`address_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `jo_address_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `jo_user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_address`
--

LOCK TABLES `jo_address` WRITE;
/*!40000 ALTER TABLE `jo_address` DISABLE KEYS */;
INSERT INTO `jo_address` VALUES (1,1,'Pretoria','Gauteng','PTA','0152',1);
/*!40000 ALTER TABLE `jo_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_blog_post`
--

DROP TABLE IF EXISTS `jo_blog_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_blog_post` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `views` int(11) NOT NULL DEFAULT '0',
  `image` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `body` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `published` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `u_id` (`u_id`),
  CONSTRAINT `jo_blog_post_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_blog_user` (`id`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_blog_post`
--

LOCK TABLES `jo_blog_post` WRITE;
/*!40000 ALTER TABLE `jo_blog_post` DISABLE KEYS */;
INSERT INTO `jo_blog_post` VALUES (1,1,'5 Habits that can improve your life','5-habits-that-can-improve-your-life',0,'banner.jpg','Read every day',1,'2018-02-03 05:58:02','2018-02-01 17:14:31'),(2,1,'Second post on LifeBlog','second-post-on-lifeblog',0,'banner.jpg','This is the body of the second post on this site',0,'2018-02-02 09:40:14','2018-02-01 11:04:36');
/*!40000 ALTER TABLE `jo_blog_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_blog_post_topic`
--

DROP TABLE IF EXISTS `jo_blog_post_topic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_blog_post_topic` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `post_id` int(11) DEFAULT NULL,
  `post_topic_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `post_id` (`post_id`),
  KEY `post_topic_id` (`post_topic_id`),
  CONSTRAINT `jo_blog_post_topic_ibfk_1` FOREIGN KEY (`post_id`) REFERENCES `jo_blog_post` (`id`),
  CONSTRAINT `jo_blog_post_topic_ibfk_2` FOREIGN KEY (`post_topic_id`) REFERENCES `jo_blog_topic` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_blog_post_topic`
--

LOCK TABLES `jo_blog_post_topic` WRITE;
/*!40000 ALTER TABLE `jo_blog_post_topic` DISABLE KEYS */;
INSERT INTO `jo_blog_post_topic` VALUES (1,1,1),(2,2,2);
/*!40000 ALTER TABLE `jo_blog_post_topic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_blog_topic`
--

DROP TABLE IF EXISTS `jo_blog_topic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_blog_topic` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_blog_topic`
--

LOCK TABLES `jo_blog_topic` WRITE;
/*!40000 ALTER TABLE `jo_blog_topic` DISABLE KEYS */;
INSERT INTO `jo_blog_topic` VALUES (1,'Inspiration','inspiration'),(2,'Motivation','motivation'),(3,'Diary','diary');
/*!40000 ALTER TABLE `jo_blog_topic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_blog_user`
--

DROP TABLE IF EXISTS `jo_blog_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_blog_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('Author','Admin') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_blog_user`
--

LOCK TABLES `jo_blog_user` WRITE;
/*!40000 ALTER TABLE `jo_blog_user` DISABLE KEYS */;
INSERT INTO `jo_blog_user` VALUES (1,'Awa','info@codewithawa.com','Admin','mypassword','2018-01-08 10:52:58','2018-01-08 10:52:58');
/*!40000 ALTER TABLE `jo_blog_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_category`
--

DROP TABLE IF EXISTS `jo_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_category` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `category_slug` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `job_count` int(11) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_category`
--

LOCK TABLES `jo_category` WRITE;
/*!40000 ALTER TABLE `jo_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `jo_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_company`
--

DROP TABLE IF EXISTS `jo_company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_company` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `company_slug` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `company_size` varchar(5) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `website` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `company_bio` text COLLATE utf8mb4_unicode_ci,
  `company_logo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_company`
--

LOCK TABLES `jo_company` WRITE;
/*!40000 ALTER TABLE `jo_company` DISABLE KEYS */;
/*!40000 ALTER TABLE `jo_company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_country`
--

DROP TABLE IF EXISTS `jo_country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_country` (
  `id` int(10) unsigned NOT NULL,
  `country_code` varchar(3) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country_name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_country`
--

LOCK TABLES `jo_country` WRITE;
/*!40000 ALTER TABLE `jo_country` DISABLE KEYS */;
/*!40000 ALTER TABLE `jo_country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_ext_login`
--

DROP TABLE IF EXISTS `jo_ext_login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_ext_login` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `providerKey` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `providerType` enum('facebook','twitter','instagram','google') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `u_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  CONSTRAINT `jo_ext_login_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_ext_login`
--

LOCK TABLES `jo_ext_login` WRITE;
/*!40000 ALTER TABLE `jo_ext_login` DISABLE KEYS */;
/*!40000 ALTER TABLE `jo_ext_login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_flag_jobs`
--

DROP TABLE IF EXISTS `jo_flag_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_flag_jobs` (
  `id` int(10) unsigned NOT NULL,
  `job_id` int(11) DEFAULT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `message` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `job_id` (`job_id`),
  CONSTRAINT `jo_flag_jobs_ibfk_1` FOREIGN KEY (`job_id`) REFERENCES `jo_job` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_flag_jobs`
--

LOCK TABLES `jo_flag_jobs` WRITE;
/*!40000 ALTER TABLE `jo_flag_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jo_flag_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_job`
--

DROP TABLE IF EXISTS `jo_job`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_job` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `job_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `job_slug` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `position` varchar(190) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `job_category_id` int(11) DEFAULT NULL,
  `is_any_where` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `salary` int(11) DEFAULT '0',
  `salary_upto` int(11) DEFAULT '0',
  `is_negotiable` tinyint(4) DEFAULT '0',
  `salary_cycle` enum('monthly','yearly','weekly','daily','hourly') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `salary_currency` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vacancy` int(11) DEFAULT NULL,
  `gender` enum('male','female','transgender','any') COLLATE utf8mb4_unicode_ci NOT NULL,
  `job_type` enum('full_time','part_time','contract','temporary','commission','internship') COLLATE utf8mb4_unicode_ci DEFAULT 'full_time',
  `exp_level` enum('mid','entry','senior') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `skills` text COLLATE utf8mb4_unicode_ci,
  `responsibilities` text COLLATE utf8mb4_unicode_ci,
  `educational_requirements` text COLLATE utf8mb4_unicode_ci,
  `experience_requirements` text COLLATE utf8mb4_unicode_ci,
  `additional_requirements` text COLLATE utf8mb4_unicode_ci,
  `benefits` text COLLATE utf8mb4_unicode_ci,
  `apply_instruction` text COLLATE utf8mb4_unicode_ci,
  `country_id` int(11) DEFAULT NULL,
  `country_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `state_id` int(11) DEFAULT NULL,
  `state_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `experience_required_years` tinyint(4) DEFAULT '0',
  `experience_plus` tinyint(4) DEFAULT '0',
  `views` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `deadline` datetime DEFAULT NULL,
  `status` tinyint(4) DEFAULT '0',
  `job_id` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_main_featured` tinyint(4) DEFAULT '0',
  `is_featured` tinyint(4) DEFAULT '0',
  `is_sponsored` tinyint(4) DEFAULT '0',
  `is_free` tinyint(4) DEFAULT '0',
  `company_id` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  KEY `job_category_id` (`job_category_id`),
  KEY `company_id` (`company_id`),
  FULLTEXT KEY `fulltext_job_title_index` (`job_title`),
  FULLTEXT KEY `fulltext_job_slug_index` (`job_slug`),
  FULLTEXT KEY `fulltext_job_position_index` (`position`),
  FULLTEXT KEY `fulltext_job_state_name_index` (`state_name`),
  FULLTEXT KEY `fulltext_job_location_index` (`city_name`),
  CONSTRAINT `jo_job_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`),
  CONSTRAINT `jo_job_ibfk_2` FOREIGN KEY (`job_category_id`) REFERENCES `jo_category` (`id`),
  CONSTRAINT `jo_job_ibfk_3` FOREIGN KEY (`company_id`) REFERENCES `jo_company` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_job`
--

LOCK TABLES `jo_job` WRITE;
/*!40000 ALTER TABLE `jo_job` DISABLE KEYS */;
/*!40000 ALTER TABLE `jo_job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_job_alert`
--

DROP TABLE IF EXISTS `jo_job_alert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_job_alert` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `job_keyword` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alert_category_id` int(11) DEFAULT NULL,
  `frequency` enum('Daily','Weekly','Bi-monthly','Monthly') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  CONSTRAINT `jo_job_alert_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_job_alert`
--

LOCK TABLES `jo_job_alert` WRITE;
/*!40000 ALTER TABLE `jo_job_alert` DISABLE KEYS */;
INSERT INTO `jo_job_alert` VALUES (1,1,'web developer',15,'Weekly','2018-01-08 12:52:58'),(2,1,'Database Admin',15,'Weekly','2018-01-08 12:52:58'),(3,1,'Full Stack',15,'Weekly','2018-01-08 12:52:58'),(4,1,'Office Admin',23,'Monthly','2018-01-08 12:52:58');
/*!40000 ALTER TABLE `jo_job_alert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_job_alert_category`
--

DROP TABLE IF EXISTS `jo_job_alert_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_job_alert_category` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `category_id` int(11) DEFAULT NULL,
  `alert_category_count` int(11) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `jo_job_alert_category_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`),
  CONSTRAINT `jo_job_alert_category_ibfk_2` FOREIGN KEY (`category_id`) REFERENCES `jo_category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_job_alert_category`
--

LOCK TABLES `jo_job_alert_category` WRITE;
/*!40000 ALTER TABLE `jo_job_alert_category` DISABLE KEYS */;
INSERT INTO `jo_job_alert_category` VALUES (1,1,15,3),(2,1,23,1);
/*!40000 ALTER TABLE `jo_job_alert_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_job_alert_subscriber`
--

DROP TABLE IF EXISTS `jo_job_alert_subscriber`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_job_alert_subscriber` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `u_id` int(11) DEFAULT NULL,
  `start_date` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `u_id` (`u_id`),
  CONSTRAINT `jo_job_alert_subscriber_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_job_alert_subscriber`
--

LOCK TABLES `jo_job_alert_subscriber` WRITE;
/*!40000 ALTER TABLE `jo_job_alert_subscriber` DISABLE KEYS */;
INSERT INTO `jo_job_alert_subscriber` VALUES (1,'mashelesurprise@gmail.com',1,'2018-01-08 12:52:58');
/*!40000 ALTER TABLE `jo_job_alert_subscriber` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_job_bookmark`
--

DROP TABLE IF EXISTS `jo_job_bookmark`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_job_bookmark` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `job_id` int(11) DEFAULT NULL,
  `job_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_bookmarked` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  KEY `job_id` (`job_id`),
  CONSTRAINT `jo_job_bookmark_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`),
  CONSTRAINT `jo_job_bookmark_ibfk_2` FOREIGN KEY (`job_id`) REFERENCES `jo_job` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_job_bookmark`
--

LOCK TABLES `jo_job_bookmark` WRITE;
/*!40000 ALTER TABLE `jo_job_bookmark` DISABLE KEYS */;
INSERT INTO `jo_job_bookmark` VALUES (1,1,1,'https://www.indeed.com','2018-01-08 12:52:58'),(2,1,15,'https://www.indeed.com','2020-03-16 12:46:08'),(3,1,20,'https://www.indeed.com','2020-03-16 12:46:15');
/*!40000 ALTER TABLE `jo_job_bookmark` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_launch_notify_list`
--

DROP TABLE IF EXISTS `jo_launch_notify_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_launch_notify_list` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `launch_type` enum('jobpost','mobileapp') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_launch_notify_list`
--

LOCK TABLES `jo_launch_notify_list` WRITE;
/*!40000 ALTER TABLE `jo_launch_notify_list` DISABLE KEYS */;
INSERT INTO `jo_launch_notify_list` VALUES (1,'mobileapp','mashelesurprise@gmail.com','2018-01-08 12:52:58'),(2,'jobpost','mashelesepru@gmail.com','2018-01-08 12:52:58'),(3,'mobileapp','ntsako@gmail.com','2018-01-08 12:52:58'),(4,'jobpost','nts@gmail.com','2018-01-08 12:52:58'),(5,'jobpost','mashelesurprise@gmail.com','2018-01-08 12:52:58');
/*!40000 ALTER TABLE `jo_launch_notify_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_login`
--

DROP TABLE IF EXISTS `jo_login`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_login` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `password` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  CONSTRAINT `jo_login_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_login`
--

LOCK TABLES `jo_login` WRITE;
/*!40000 ALTER TABLE `jo_login` DISABLE KEYS */;
INSERT INTO `jo_login` VALUES (1,1,'12054s5f05sf','mashelesurprise@gmail.com'),(2,2,'12054s5f05sf','ntsakosithole@gmail.com'),(3,3,'12054s5f05sf','kanyewest@gmail.com'),(4,4,'12054s5f05sf','curtisjackson@gmail.com'),(5,5,'12054s5f05sf','mayawegerif@gmail.com'),(6,6,'12054s5f05sf','mayawegerif@gmail.com'),(7,7,'12054s5f05sf','revlonhobyani@gmail.com');
/*!40000 ALTER TABLE `jo_login` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_recruiter`
--

DROP TABLE IF EXISTS `jo_recruiter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_recruiter` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `r_type` enum('admin','executive','regular') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `u_id` int(11) DEFAULT NULL,
  `company_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  KEY `company_id` (`company_id`),
  CONSTRAINT `jo_recruiter_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`),
  CONSTRAINT `jo_recruiter_ibfk_2` FOREIGN KEY (`company_id`) REFERENCES `jo_company` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_recruiter`
--

LOCK TABLES `jo_recruiter` WRITE;
/*!40000 ALTER TABLE `jo_recruiter` DISABLE KEYS */;
INSERT INTO `jo_recruiter` VALUES (1,'admin',2,1),(2,'admin',3,2),(3,'admin',4,3),(4,'admin',5,4),(5,'admin',6,5),(6,'admin',7,6);
/*!40000 ALTER TABLE `jo_recruiter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_search_history`
--

DROP TABLE IF EXISTS `jo_search_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_search_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `keyword` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_searched` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  CONSTRAINT `jo_search_history_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_search_history`
--

LOCK TABLES `jo_search_history` WRITE;
/*!40000 ALTER TABLE `jo_search_history` DISABLE KEYS */;
INSERT INTO `jo_search_history` VALUES (1,1,'Full Stack php','2018-01-08 12:52:58'),(2,1,'Database admin','2018-01-08 12:52:58'),(3,1,'General Worker','2018-01-08 12:52:58');
/*!40000 ALTER TABLE `jo_search_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_states`
--

DROP TABLE IF EXISTS `jo_states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_states` (
  `id` int(10) unsigned NOT NULL,
  `state_name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country_id` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_states`
--

LOCK TABLES `jo_states` WRITE;
/*!40000 ALTER TABLE `jo_states` DISABLE KEYS */;
/*!40000 ALTER TABLE `jo_states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_user`
--

DROP TABLE IF EXISTS `jo_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_type` enum('applicant','recruiter') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `first_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `profile_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `join_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_user`
--

LOCK TABLES `jo_user` WRITE;
/*!40000 ALTER TABLE `jo_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `jo_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `user_join` AFTER INSERT ON `jo_user` FOR EACH ROW BEGIN

    INSERT INTO jo_user_join_log VALUES(NULL,'New jobbri User',NEW.u_type,NOW());

  END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `jo_user_account_join`
--

DROP TABLE IF EXISTS `jo_user_account_join`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_user_account_join` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `u_id` int(11) DEFAULT NULL,
  `account_id` int(11) DEFAULT NULL,
  `account_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `u_id` (`u_id`),
  KEY `account_id` (`account_id`),
  CONSTRAINT `jo_user_account_join_ibfk_1` FOREIGN KEY (`u_id`) REFERENCES `jo_user` (`id`),
  CONSTRAINT `jo_user_account_join_ibfk_2` FOREIGN KEY (`account_id`) REFERENCES `jo_account` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_user_account_join`
--

LOCK TABLES `jo_user_account_join` WRITE;
/*!40000 ALTER TABLE `jo_user_account_join` DISABLE KEYS */;
INSERT INTO `jo_user_account_join` VALUES (1,1,1,NULL),(2,2,2,NULL),(3,3,3,NULL),(4,4,4,NULL),(5,5,5,NULL),(6,6,6,NULL),(7,7,7,NULL);
/*!40000 ALTER TABLE `jo_user_account_join` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jo_user_join_log`
--

DROP TABLE IF EXISTS `jo_user_join_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jo_user_join_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `log_message` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT 'New Jobbri user has been created',
  `user_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `log_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jo_user_join_log`
--

LOCK TABLES `jo_user_join_log` WRITE;
/*!40000 ALTER TABLE `jo_user_join_log` DISABLE KEYS */;
INSERT INTO `jo_user_join_log` VALUES (1,'New jobbri User','applicant','2020-02-28 10:53:25'),(2,'New jobbri User','recruiter','2020-02-28 10:53:25'),(3,'New jobbri User','recruiter','2020-02-28 10:53:25'),(4,'New jobbri User','recruiter','2020-02-28 10:53:25'),(5,'New jobbri User','recruiter','2020-02-28 10:53:25'),(6,'New jobbri User','recruiter','2020-02-28 10:53:25'),(7,'New jobbri User','recruiter','2020-02-28 10:53:25');
/*!40000 ALTER TABLE `jo_user_join_log` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-03-21 17:14:56
